{{define "title"}}App installed{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/apps">Apps</a> | App installed

<p>The app has been installed. You may now <a href="/apps">return</a>.</p>

{{template "foot" .}}
