{{define "title"}}Apps{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | Apps</p>

<p>{{if len .apps}}{{range .apps}}<a href="/apps/{{.id}}/{{.name}}">{{.name}} {{.latest}}</a><br/>{{end}}
{{else}}No apps are installed{{end}}</p>

<p><a href="/apps/new">Install an app</a></p>

{{template "foot" .}}
