{{define "title"}}Install an app{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/apps">Apps</a> | Install an app

<h3>Install from the App Market</h3>
<p>Apps in the App Market have been loosely vetted to prevent any obvious malware. Apps will automatically update when the app publisher publishes a new version, and nothing prevents new versions from introducing malware.</p>
{{if len .market}}<ul>{{range .market}}<li><p><b><a href="/apps/information/{{.id}}/{{.name}}">{{.name}}</a></b><br/>&nbsp;&nbsp;{{.blurb}}</p>{{end}}</ul>{{else}}<p>You have installed every app in the market.</p>{{end}}

<h3>Install directly from an app publisher</h3>
<p>Apps installed directly have not been vetted, and may be malware. Apps will automatically update when the app publisher publishes a new version.</p>
<p>
<form method="get" action="/apps/information">
<label for="id">App ID:</label><input type="text" name="id" size="51" maxlength="51"/><br/>
<input type="submit" value="Next &raquo;"/>
</form>
</p>

{{template "foot" .}}
