{{define "title"}}Install an app{{end}}
{{template "head" .}}
<p class="header"><a href="/">Mochi</a> | <a href="/apps">Apps</a> | Install an app

<h3>Install from an external source</h3>
<p>
<form method="post" action="/apps/entity">
<label for="entity">Entity:</label><input type="text" name="entity" size="51" maxlength="51"/><br/>
<input type="submit" value="Install"/>
</form>
</p>

<h3>Install from a .zip file</h3>
<p>
<form method="post" enctype="multipart/form-data" action="/apps/zip">
<label for="file">.zip file to upload:</label>
<input type="file" name="file" accept=".zip"><br/>
<input type="submit" value="Install"/>
</form>
</p>

{{template "foot" .}}
